  <div class="header">
      <h1>ember-adjustable-number</h1>

      <h2>Create reactive documents like <a href="http://worrydream.com/Tangle/" target="_blank">Tangle</a></h2>
  </div>


<div class="content">
    <h2>How to install?</h2>

    <p>
      <pre>ember install ember-adjustable-number</pre>
    </p>
</div>

<div class="content">
    <h2>Examples</h2>

    <p>Simple use the <em>adjustable-number</em> component like this:</p>

    <h3>Minimal</h3>

    <p>Normal adjustable-value: {{adjustable-number value=aNumber}}</p>

        <div class='example'>
          <pre class='pre-example'>\{{adjustable-number value=aNumber}}</pre>
        </div>


    <h3>Simple binding</h3>

    <p>Input: {{input value=normalValue}}</p>

    <p>Normal adjustable-value: {{adjustable-number value=normalValue}}</p>

        <div class='example'>
          <pre class='pre-example'>\{{adjustable-number value=normalValue}}</pre>
        </div>

    <h3>With limits</h3>

    <p>Text value:
      {{adjustable-number value=value min=0 max=100}}
    </p>

        <div class='example'>
          <pre class='pre-example'>\{{adjustable-number value=value min=0 max=100}}</pre>
        </div>

    <h3>With computed properties</h3>

    <p>When you eat <strong>{{cookies}}</strong> {{adjustable-number value=cookies label='cookies' min=2 max=100}} you consume <strong>{{calories}}</strong> calories.</p>


    <div class='example'>
      <pre class='pre-example'>When you eat \{{cookies}} \{{adjustable-number
        value=cookies label='cookies'
        min=2 max=100}} you consume \{{calories}} calories.</pre>
    </div>

</div>


<div class='footer'>
  see the <a href="https://github.com/hugoruscitti/ember-adjustable-number" target="_blank">github repository</a>.
</div>
